*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  transition: all 0.5s ease;
}

.locked_screen{
  background-color: #2f2f2d;
  max-width: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px;
  margin-top: 100px;
  border-radius: 20px;

}


i{
  color: #fff;
}

.main{
  .locked_screen{
    .icon{
      display: flex;
      justify-content: space-between;
      .content{}
      .icon__item{
        i{
          margin-left: 10px;
        }
      }
    }
    .blocking{
      margin: 30px 0;
      text-align: center;
      i{
        font-size: 30px;
      }
    }
    h1{
      text-align: center;
      font-size: 18px;
    }
    .circle{
      width: 50%;
      margin: 20px auto 20px;
      display: flex;
      justify-content: space-around;
      .circle_ietm{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 1px solid #fff;
      }
    }
    .number{
      width: 90%;
      margin: 0 auto 25px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
     .number__item{
       width: 30%;
       &:last-child{
         margin: 0 auto;
         .number__intro{
           display: flex;
           align-items: center;
           justify-content: center;
           .number__date{
             margin: 0;
           }
         }
       }
       .number__intro{
         background-color: #2a2a2a;
         width: 90px;
         height: 90px;
         //padding: 20px 0;
         border-radius: 50%;
         border: 1px solid #fff;
         margin: 20px auto 20px;
         text-align: center;
         cursor: pointer;
         .number__date{
           margin: 5px 0 5px 0;
           font-size: 55px;
         }
         .number__text{
           margin: 0 0 10px 0;
           text-transform: uppercase;
         }
       }
     }
    }
    .footer{
      display: flex;
      justify-content: space-between;
      padding: 0 20px 10px;
      .footer__item{
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}

//====unlocked screen=============================================================//

.main{
  position: relative;
  .unlocked_screen{
    display: none;
    position: absolute;
    background-image: url("./image/image_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //background-position: center;
    width: 400px;
    height: 775px;
    top: 100px;
    left: 34%;
    border-radius: 20px;
    text-align: center;
    h1{
      font-size: 25px;
      color: #2f2f2d;
      margin: 700px 0 0 0;
    }
  }
}

.phone_block{
   display: none;
}
